Flask==1.0
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
Flask-Migrate
Flask-Bcrypt
flask-debugtoolbar==0.10.1
flask-swagger-ui
flask-restplus
psycopg2==2.7.4
psycopg2-binary
PyJWT==1.4.2
bcrypt==3.1.4
gunicorn==19.7.1
coverage==4.4.2
flake8===3.5.0
validate_email
Flask_SocketIO
itsdangerous==0.24
MarkupSafe==0.23
python-engineio
python-socketio
six==1.9.0
Werkzeug==0.12.2
